doctype html 
html
  head
    link(rel='stylesheet', href='/style.css')
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/graph.js")
  body
    div.currentInfo
      div.currentItem
        div.label Selected Item: 
        div.entry
      div.currentSubject
        div.label Subject: 
        div.entry
      div.currentStatus
        div.label Status: 
        div.entry

