doctype html
html
  head
    link(rel='stylesheet', href='button.css')
    link(rel='stylesheet', href='style.css')
    script(src="http://d3js.org/d3.v3.min.js")
  body
    h1 IXL Playground
    div.question-content
    button.submit-button Submit
    div.result

    script(src="/button.js")
